@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 579px) {
.menutop{
	width: 100%;
	background-color: #27ae60;
	font-family: Nunito;
	padding: 5px;
}
.menutop{
	width: 100%;
	background-color: #27ae60;
	font-family: Nunito;
	padding: 5px;
}
.menutop a{
	text-decoration: none;
	margin-right: 5px;
}
.menutop ul{
	padding-left: 10px;
}
#horadia{
	color: white;
}
.top{
	width: 90%;
	font-family: Fredoka One;
	background-color: #2ecc71;
	border-radius: 1.5rem;
	box-shadow: 0px 5px 0px 5px #27ae60;
	padding: 5px;
	color: white;
	margin-top: 10px;
}
.top h1{
	font-size: 42px;
}
#maintitle{
	font-family: Fredoka One;
	width: 75%;
	background-color: #2ecc71;
	color: white;
	border-radius: 1rem;
	box-shadow: 0px 5px 0px 5px #27ae60;
	margin: 20px 0px 5px 5px;
	padding: 5px;
}
.dashboard{
	margin-top: 30px;
	width: 100%;
 	background-color: #95a5a6;
 	color: white;
 	font-family: Nunito;
 	padding: 5px;
 	border-radius: 1rem;
 	font-size: 10px;
}
.dashboard p{
	background-color: #576574;
	border-radius: 1.5rem;
}
#itemtitle{
	font-size: 16px;
}
#statusservicebkb{
	margin-left: 5px;
	color: #4cd137;
}
#statusservicehost{
	margin-left: 40px;
	color: #4cd137;
}
#statusservices{
	margin-left: 10px;
	color: #4cd137;
}
.dashboard ul{
 	list-style-type: none;
}
#lists li{
	margin-top: 10px;
	background-color: #576574;
	border-radius: 1rem;
}
.dashboard .container .row{
	background-color: #576574;
	border-radius: 1rem;
	margin-top: 10px;
}
.dashboard .container{
	width: 90%;
}
footer{
	margin-top: 30px;
	background-color: #95a5a6;
	color: white;
	padding-top: 15px;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
}
footer .container{
	width: 90%;
}
footer .container .row .col h3{
	font-family: Fredoka One;
	background-color: #576574;
	border-radius: 1rem;
}
footer .container .row .col p{
	font-family: Nunito;
	font-size: 12px;
}
#socialtt{
	font-size: 32px;
	color: #0984e3;
	padding-left: 5px;
	padding-right: 5px;
}
#socialtt:hover{
	color: white;
}
#socialinsta{
	font-size: 32px;
	color: #e84393;
	padding-left: 5px;
	padding-right: 5px;
}
#socialinsta:hover{
	color: white;
}
#socialgit{
	font-size: 32px;
	color: #130f40;
	padding-left: 5px;
	padding-right: 5px;
}
#socialgit:hover{
	color: white;
}
#socialpage{
	font-size: 22px;
 	color: white;
 	text-decoration-line: none;
}
#socialpage:hover{
	color: #0984e3;
}
}
@media screen and (min-width: 580px) and (max-width: 950px) {
.menutop{
	width: 100%;
	background-color: #27ae60;
	font-family: Nunito;
	padding: 5px;
}
.menutop{
	width: 100%;
	background-color: #27ae60;
	font-family: Nunito;
	padding: 5px;
}
.menutop a{
	text-decoration: none;
	margin-right: 10px;
}
.menutop ul{
	padding-left: 10px;
}
#horadia{
	color: white;
	margin-right: 10px;
}
.top{
	width: 90%;
	font-family: Fredoka One;
	background-color: #2ecc71;
	border-radius: 5rem;
	box-shadow: 0px 5px 0px 5px #27ae60;
	padding: 5px;
	color: white;
	margin-top: 15px;
}
.top h1{
	font-size: 52px;
}
#maintitle{
	font-family: Fredoka One;
	width: 70%;
	background-color: #2ecc71;
	color: white;
	border-radius: 2rem;
	box-shadow: 0px 5px 0px 5px #27ae60;
	margin: 20px 0px 5px 5px;
	padding: 5px;
	font-size: 24px;
}
.dashboard{
	margin-top:20px;
	width: 100%;
 	background-color: #95a5a6;
 	color: white;
 	font-family: Nunito;
 	padding: 10px;
 	border-radius: 1.5rem;
}
.dashboard p{
	background-color: #576574;
	border-radius: 1.5rem;
}
#itemtitle{
	font-size: 18px;
}
#statusservicebkb{
	margin-left: 10px;
	color: #4cd137;
}
#statusservicehost{
	margin-left: 10px;
	color: #4cd137;
}
#statusservices{
	margin-left: 20px;
	color: #4cd137;
}
.dashboard ul{
 	list-style-type: none;
}
#lists li{
	margin-top: 10px;
	background-color: #576574;
	border-radius: 1rem;
}
.dashboard .container .row{
	background-color: #576574;
	border-radius: 1rem;
	margin-top: 10px;
}
.dashboard .container{
	width: 80%;
}
footer{
	margin-top: 30px;
	background-color: #95a5a6;
	color: white;
	padding-top: 15px;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}
footer .container{
	width: 90%;
}
footer .container .row .col h3{
	font-family: Fredoka One;
	background-color: #576574;
	border-radius: 2rem;
}
footer .container .row .col p{
	font-family: Nunito;
}
#socialtt{
	font-size: 32px;
	color: #0984e3;
	padding-left: 5px;
	padding-right: 5px;
}
#socialtt:hover{
	color: white;
}
#socialinsta{
	font-size: 32px;
	color: #e84393;
	padding-left: 5px;
	padding-right: 5px;
}
#socialinsta:hover{
	color: white;
}
#socialgit{
	font-size: 32px;
	color: #130f40;
	padding-left: 5px;
	padding-right: 5px;
}
#socialgit:hover{
	color: white;
}
#socialpage{
	font-size: 22px;
 	color: white;
 	text-decoration-line: none;
}
#socialpage:hover{
	color: #0984e3;
}

}
@media screen and (min-width: 951px) {
.menutop{
	width: 100%;
	background-color: #27ae60;
	font-family: Nunito;
	padding: 5px;
}
.menutop{
	width: 100%;
	background-color: #27ae60;
	font-family: Nunito;
	padding: 5px;
}
.menutop a{
	text-decoration: none;
	margin-right: 20px;
}
.menutop ul{
	padding-left: 15px;
}
#horadia{
	color: white;
	margin-right: 15px;
}
.top{
	width: 75%;
	font-family: Fredoka One;
	background-color: #2ecc71;
	border-radius: 8rem;
	box-shadow: 0px 5px 0px 5px #27ae60;
	padding: 5px;
	color: white;
	margin-top: 15px;
}
.top h1{
	font-size: 58px;
}
#maintitle{
	font-family: Fredoka One;
	width: 55%;
	background-color: #2ecc71;
	color: white;
	border-radius: 3rem;
	box-shadow: 0px 5px 0px 5px #27ae60;
	margin: 30px 0px 5px 5px;
	padding: 5px;
}
.dashboard{
	margin: 20px;
	width: 70%;
 	background-color: #95a5a6;
 	color: white;
 	font-family: Nunito;
 	padding: 10px;
 	border-radius: 1.5rem;
}
.dashboard p{
	background-color: #576574;
	border-radius: 1.5rem;
}
#itemtitle{
	font-size: 22px;
}
#statusservicebkb{
	margin-left: 250px;
	color: #4cd137;
	/*color: #e84118;
	color: #fbc531;*/
}
#statusservicehost{
	margin-left: 150px;
	color: #4cd137;
}
#statusservices{
	margin-left: 160px;
	color: #4cd137;
}
.dashboard ul{
	margin-left: 20px;
 	list-style-type: none;
}
#lists li{
	margin-top: 10px;
	background-color: #576574;
	border-radius: 1rem;
}
.dashboard .container .row{
	background-color: #576574;
	border-radius: 1rem;
	margin-top: 10px;
}
.dashboard .container{
	width: 80%;
}
footer{
	background-color: #95a5a6;
	color: white;
	padding-top: 15px;
	border-top-left-radius: 10rem;
	border-top-right-radius: 10rem;
}
footer .container{
	width: 75%;
}
footer .container .row .col h3{
	font-family: Fredoka One;
	background-color: #576574;
	border-radius: 2rem;
}
footer .container .row .col p{
	font-family: Nunito;
}
#socialtt{
	font-size: 32px;
	color: #0984e3;
	padding-left: 5px;
	padding-right: 5px;
}
#socialtt:hover{
	color: white;
}
#socialinsta{
	font-size: 32px;
	color: #e84393;
	padding-left: 5px;
	padding-right: 5px;
}
#socialinsta:hover{
	color: white;
}
#socialgit{
	font-size: 32px;
	color: #130f40;
	padding-left: 5px;
	padding-right: 5px;
}
#socialgit:hover{
	color: white;
}
#socialpage{
	font-size: 22px;
 	color: white;
 	text-decoration-line: none;
}
#socialpage:hover{
	color: #0984e3;
}
}